@import "~bootstrap/scss/bootstrap.scss";

.navbar{
    width: 100%;
    height: 70px;
    background: linear-gradient(270deg, #A194FF -6.35%, #6DEDE3 34.24%); 
}


.footer {
    background: #A194FF;
    
}

.btn { 
 background: #9055FF;
 border-radius: 20px;
 margin: 10px;
}
