@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600&display=swap');
.img1 {
    max-width: 100%;
    width: 90%;
    display: block;
    margin: auto;
}
.title {
    display: block;
    margin: auto;
    font-weight: 700;
} 
p {
    width: 327px;
    height: 112px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color:#0C0B1A;
    margin: auto;
}
.btn-school {
    margin: auto;
    border: none;
}
.btn-teacher {
    margin: auto;
    width: 326px;
}
.subtitle2 {
    font-weight: 700;
    font-family: Poppins;
    font-style: normal;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1px;
    margin: auto;
}
.subtitle3 {
    margin:auto;
    width: 327px;
    font-weight: 700;
    
}
.img2 {
    max-width: 100%;
    margin: auto;
    
}
.btn-review {
    display: block;
    margin: auto;
}
.paragraph {
    margin: auto;
}
.img3 {
    display: block;
    width: 90%;
    margin: auto;
}
.paragraph2 {
    margin: auto;
}
.logo {
    max-width: 100%;
    width: 80%;
    display: block;
    margin: auto;
}



