@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600&display=swap');
.img1 {
    max-width: 100%;
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 62px;
}
.title {
    margin: auto;
    font-weight: 700;
    margin-bottom: 16px;
} 
p {
    width: 327px;
    height: 112px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color:#0C0B1A;
    margin: auto;
}
.btn-school {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 13px;
}
.btn-teacher {
    margin: auto;
    width: 326px;
    margin-bottom: 64px;
}
.subtitle2 {
    margin-left: 24px;
    font-weight: 700;
    font-family: Poppins;
    font-style: normal;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1px;
}
.subtitle3 {
    margin:auto;
    width: 327px;
    font-weight: 700;
    margin-top: 32px;
    
}
.img2 {
    max-width: 100%;
    margin-top: 24px;
    margin-bottom: -25px;
}
.btn-review {
    display: block;
    margin: auto;
}
.paragraph {
    margin-bottom: 100px;
}
.img3 {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 50px; 
    margin-bottom: 10px; 
}
.paragraph2 {
    margin-bottom: 122px;
}



