@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}


//Elementos FIJO DEL NAVBAR//
//*--------MEDIAQUERY-------- *//


@media screen and (max-width:780px) {  

}



@media screen and (max-width:600px) {
  
}


@media screen and (max-width:440px) {
  
}


.navbar{

     align-items: right;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: linear-gradient(270deg, #A194FF -6.35%, #6DEDE3 34.24%); 
 
   }

   NavDropdown.Item{
    margin-right: 0%;
   }

registrate{
  color: #A194FF;
   text-align: left;
  font-family: Poppins
}

//    NavDropdown::before{
//     position: absolute;
//     top: 100%;
//     left: 0;
//     z-index: 1000;
//     display: none;
//     float: right;
//     /* min-width: 10rem; */
//     /* padding: 0.5rem 0; */
//     /* margin: 0.125rem 0 0; */
//     /* font-size: 1rem; */
//     /* color: #212529; */
//     /* text-align: left; */
//     /* list-style: none; */
//     background-color:red  !important;
//     background-clip: padding-box;
//     border: 1px solid rgba(0, 0, 0, 0.15);
//     border-radius: 0.25rem;
// }
// @media only screen and(max-width:600px)
// {NavDropdown.Item select{width:200px!important;}
// }

Dropdown{
  background: rgba(236,72,127,.95);
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 3rem;
  width: 100%;
  height: 100vh;
  top: -100vh;
  transition: .8s;
  z-index: 2;
  color: #fff;
  overflow-y: auto;
}


.footer {
    background: rgb(14, 13, 13);
    text-decoration:none ;
 
    

    // background: #A194FF;

a{
    color:white ;
    text-decoration: none; 
           

    }


  .imgFooter{
    display: flex;
    
  }
   
.dropdown-menu{
  margin-right: 0%;
}


}

 //botton azul fuera
  .dropdown-toggle::after {
   display: none;
    
 }
  
 //botton azul borrado
 .dropleft .dropdown-toggle::before {

  display: none;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  /* border-top: 0.3em solid transparent; */
  /* border-right: 0.3em solid; */
  /* border-bottom: 0.3em solid transparent; */
}

h4{
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

letter-spacing: 0.75px;

/* Grayscale / Title-Active */

color: #0C0B1A;
}

 .navbar toggler icon  {
width: 50px;
 }

.btnNav{  
background: rgba(122, 111, 197, 1);
color: rgba(255, 255, 255, 1);
border-radius:40px;
border: none;
text-align: center;
cursor: pointer;
    // background: none;
  margin: 30px;
   padding:5px 15px 5px 15px; 
    //  color: black;
    //  hover
    // border: none;
}

.navbar-toggler-icon{
    background: seagreen
    margin-rigth 0%;
  
  

}
  

     $media-mobile-sm: "only screen and (max-width :180px)";
   .dropdown menu{
      position: relative;
      top: 100%;
      left: 100;
      z-index: 1;
     
      float:right;
      min-width: 10rem;
      padding: 0.5rem 0;
      margin: 0.125rem 0 0;
      font-size: 1rem;
      color: red;
      text-align: left;
      list-style: none;
      background-color:red;;
      background-clip: padding-box;
      border: 1px solid red;;
      border-radius: 0.25rem;;
  }


 $media-mobile-sm: "only screen and (max-width : 180px)";
 NavDropdown.Item{
   display: rigth !important;
   align-items: center !important;
 }
    

// @media (max-width: 768px) 
    .navbar-toggler-icon {
      display: flex;
      
    
  }


  //Responsive
// @mixin mobile {
//   @media only screen and (max-width: 320px) {
//     @content;
//     }
// // }
//   $media only screen and (max-width : 600px);

//   @mixin tablet {
//     @media only screen and (min-width: 768px) {
//       @content;
//     }
//   }
  
//   @mixin desktop {
//     @media only screen and (min-width: 1000px) {
//       @content;
//      dropdown-menu show {
//         display: block;
//         // .dropdown-menu{
//         //     width: 300px;
//         //     height: 400px;
//          }
//       }
//     }

//   }
  
//   @mixin large {
//     @media only screen and (min-width: 1200px) {
//       @content;
//     }
//   }





// .navbar-toggler-icon{
//     inline-size: 32px;
//     block-size: 32px;
//     border: none;
//     background-color:transparent;
//     cursor: pointer;
//     // display:block;
    
// // @media (max-width: 480px){
// //     display: none;
// //     }
// }
    
// .dropdown-toggle::after{
 
//     content: "" none;
// }
    
// #dropdown-toggle{
//     display:none;
//     content: "" none;
// }


// #responsive-navbar-nav{
//   flex-direction: column-reverse;

// }

