@import "~bootstrap/scss/bootstrap.scss";

.navbar{
    
    justify-content: space-between;
   width: 100%;
    height: 100px;
    background: linear-gradient(270deg, #A194FF -6.35%, #6DEDE3 34.24%); 
}


.footer {
    background: black;
    text-decoration:none ;
    

    // background: #A194FF;

a{
    color:white ;
    text-decoration: none; 
           

    }
   
}

.imgLogo{
    width: 100%;
    height:70%;
    float: left;
    margin: top 0px;
    justify-content: space-between;
    background:rgb(128, 9, 0);
}

.modal-body { 
    background: #270ee6;
    float: lef

}