@import "~bootstrap/scss/bootstrap.scss";

.navbar{
    
    justify-content: space-between;
   
    height: 70px;
    background: linear-gradient(270deg, #A194FF -6.35%, #6DEDE3 34.24%); 
}


.footer {
    background: black;
    color:white
    // background: #A194FF;
   
}

.imgLogo{
    float: right;
    margin: top 0px;
    justify-content: space-between;
    background:rgb(128, 9, 0);
}
