

.register{
    margin-top: 118px;
}


.violet_h1_forms h1 { 
   
    border: 2px solid rgb(245, 57, 0);
    padding-bottom: 15px;
}

    h1 {
         font-weight: bold;
         padding-bottom: 20px;
         color:rgb(132, 132, 230);
    }

    p {
         line-height: 1.5em;
    }

    img {
         max-width: 150px;
    }

    .registroOk{
        max-width: 100%;
        width: 90%;
        display: block;
        margin: auto;
    }
// .violet_h1_forms{
//     text-align: center;
//     color : rgba(122, 111, 197, 1);
//     width: 333px;
//     height: 36px;
//     margin:100px;
//     font-family: Poppins;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 32px;
//     line-height: 36px;
// }
    