.button__search {
    background: #6DEDE3;
    color: black;
    margin-top: 50px;
    margin-bottom:50px;
}
.span__ {
    width: 350px;
    padding-left: 50px;
    margin-top: -20px;
}
.contain__search .input-searchbar {
    margin-top: 70px;
}
.contain__search .input-searchbar::placeholder {
    width: 80%;
}
.reviewTeacher2 span {
    width: 320px;
    height: 56px;
    text-align: center;
    margin: auto;
    margin-left: -30px;
    margin-top: -30px;
}

.step-8 textarea {
    width: 343px;
    height: 161px;
    background: #EFF0F7;
    border: none;
    border-radius: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #A0A3BD;
}
.reviewTeacher1 span {
    margin-top: -50px;
}
.reviewTeacher1 .input-searchbar {
    margin-top:40px;
}
.dropdown {
    width: 343px;
    height: 56px;
    background: #EFF0F7;
    border-radius: 15px;
}
.options {
    width: 100px;
    height: 28px;
    width: 343px;
    height: 56px;
    background: #EFF0F7;
    border-radius: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #0C0B1A;
}
.step-9 h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1px;
    color: #00C4B5;
    display: block;
    margin: auto;
    margin-top: 40px;
}
.step-9 p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #4E4B66;
    margin-top: 25px;
}
.contain__search .search-title {
    width: 333px;
    height: 36px;
    margin-bottom: 24px;
    
}
.contain__search  .container___search .span__ {
    display: block;
    margin-left: -20px !important;

}
.contain__search .container___search .input-searchbar {
    margin-top: 80px;
}
.contain__search .container___search .span__{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #4E4B66;
    display: block;
    margin: auto;


}

