.actions {
    float: right;
    
}
.icon-x {
    float: right;
    color: black;
    margin-top: 30px;
    margin-right:27.23px;
}
.student-button1, .student-button2 {
    width: 171px;
    height: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #F7F7FC;
    background: #7A6FC5;
    border: none;
    border-radius: 40px;
}
.student-button1 {
    margin-left: 12.14px;
}
.img-profile{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-left: 40px;
    
}
.student-contain1 {
    margin-top: 50px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37.14px;
    // margin-top:45px;
    // align-items: center;
}
.student-button1{
    
    
}
.student-button2{
    height: 56px;
    display: block;
    margin: auto;
    margin-top: 57px;
    
}
.contain-inp label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #6E7191;
    display: block;
    // margin-left: 28px;
    margin-left: 47px;
}
input[type=text], input[type=email], input[type=password] {
    width:343px;
    height: 64px;
    border-radius:16px;
    background: #EFF0F7;
    margin-top: -30px;
    // margin-left: 16px;
    
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder {
    color:#14142B;
    height: 20px;
    width: 100%;
    padding-left: 0px; 
    font-size: 16px;
    line-height: 28px;
    font-family: Poppins;
}
.contain-inp {
    margin-bottom: 24px;
}
.pstudent{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    width:343px;
}
.input1 {
    margin-bottom: 0px;
}   
.div-button-save {
    width: 343px;
}
.div-button-save button {
    display: block;
    margin: auto;
}


.img-profile{
    display: block;
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

 label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }