.contain__1 {
    display: block;
    text-align: center;
}

.imagen {
    width: 27px;
    height: 27px;
    
}
.cont__img__profile h1 {

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 1px; 

    
}
.cont__img__profile p {
    display: block;
}
.img__profile{ 
    width: 120px;
    height: 120px;
    border-radius: 100%;
    padding-top: -100px;
    display: block;
}
.butt-on1 {
    width: 171px;
    height: 40px;
    border: 2px solid #7A6FC5;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #7A6FC5;
}
.name1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1px;
    color: #0C0B1A;
    float: left;
}
// .contain-logo span {
//     width: 216px;
//     height: 28px;
//     left: 56px;
//     top: 371px;
//     font-family: Poppins;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 16px;
//     line-height: 28px;
//     letter-spacing: 0.75px;
//     color: #0C0B1A;
//     white-space: nowrap;
// }
.title___2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1px;
    color: #7A6FC5;
    margin-top: 64px;
    text-align: center;
}
.span-reviews {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.75px;
    color: #7A6FC5;
    margin-left: -80px;
   
}
.button2 {
    background: #7A6FC5;
    border-radius: 40px;
    width: 343px;
    height: 56px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    border: none;
    display: block;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 73px;
}
.contain-reviews {
    overflow-y: scroll; 
    height: auto;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    
}
.image-valoration {
    display: block;
    margin: auto;
    
}
.contain___2 {
    display: block;
    margin: auto;
}

// @media (max-width: 992px) {
//     .img-profile{ 
//         width: 150px !important;
//         height: 150px !important;
//         border-radius: 100%;
//         display: block;
//         padding-top: -100px;
        
//     }
//     .title-2-v {
//         display: none;
//         text-align: center;
//     }

//     .image-valoration {
//         margin-top: 75px !important;
//         float: none;
//     }
//     .contain-reviews {

//        display: flex;
//        justify-content: space-between;
//        overflow-y: auto;
//     }
//     .b-2-r {
//         margin-top: 100px;
//     }

    @media (max-width: 400px) {
        .img__profile{ 
            width: 50%;
            height: 50%;
            height:50%;
        }
        .title-2-v {
            font-size: 200%;
            text-align: left;
            margin-bottom: 30px;
        }
        .b-2-r {
            width: 70%;
        }
        .title___2 {
            text-align: left;
        }
        
       
        // .butt-on1 {
        //     width: 50%;
        // }
        // .title___2 {

        //     text-align: left;
        // }
    }
    @media (max-width: 700px) {
        .title-2-v {
            margin-bottom: 50px;
        }
    }
    @media (min-width: 701px) {
        .cont__img__profile h1 {
            color: #0C0B1A;
            display: block;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 50px;
            letter-spacing: 1px;
            color: #4E4B66;
        }
    }

    

