
.button_blue_siguiente
 {
    display: block;
    margin: 0 auto;
    background: #6DEDE3;
    border-radius: 40px;
    width: 220px;
    height: 56px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
}

.butt_vs {
    margin-left: auto;
        margin-right: auto;
}
.c1 {
    width: 20%;
}
 .c3 {
    width: 10%;
}
.c2 {
    width: 80%;
}

.row1 {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
}
.pspan__ {
    margin-bottom: 50px !important;
}


.search-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1px;
    color: #7A6FC5;
    margin: auto;
    margin-top: 60px;
    // margin-bottom:10px ;
}

.violet_h1_search-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1px;
     color: #7A6FC5;
    margin: auto;
    margin-top: 60px;
}


.span__1, .span__2, .span__0, .span__{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #00C3B5;
    
    margin-bottom: 20px;
    display: block !important;
    margin: auto;
    text-align: center;
}
.cont_bton_search {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.select__search {
    display: flex !important;
    align-items: center;
    margin: auto;
    border-radius: 16px;
    height: 68px;
    font-size: 20px;
}


.name_container {
    display: flex !important;
    align-items: center;
    margin: auto;
    cursor: pointer;
    background: #EFF0F7;
    border-radius: 16px;
    height: 68px;
}
.input-search:focus{
    background: white;
    border: 2px solid black;
    padding-left:25px;
}
.input-search[type=text]::placeholder {
    height: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;  
    letter-spacing: 0.75px;
    color: #A0A3BD;
    text-align: center;
    background-image: url('https://e7.pngegg.com/pngimages/106/628/png-clipart-magnifying-glass-computer-icons-lens-detective-magnifying-glass-glass-lens.png');
    background-repeat: no-repeat;
    background-position: 30px center;
    background-size: 40px;
    
}
.input-search {
   
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    padding-left: 20px;
}


// moviles muy pequeñoas
@media (max-width: 360px){
    .span__1, .span__2, .span__0, .span__ {
        width: 50%;
    }
    .search-title {
        width: 90%;
        white-space:pre-wrap;
        margin-bottom: 50px;

    }
    .input-search {
        width:95% !important;
        font-size: 16px;
    }
    .row1 {
        width: 95%;
    }
    .name_container {
        width:95% !important;
    }
    .select__search {
        width: 95% !important;
    }
    .butt_vs, .button_blue_siguiente {
        width: 50% !important;
        
    }
    
}
// moviles pequeños
@media (min-width: 361px) and (max-width: 667px) {
    .search-title {
        font-size: 32px;
        margin-bottom: 70px;
    }
    .input-searchbar, .input-search {
        width:70% !important;
    }
    .row1 {
        width: 343px;
    }
    .name_container {
        width:70% !important;
    }
    .select__search {
        width: 70% !important;
    }
    .input-search {
        font-size: 20px;
    }
    .button_blue_siguiente {
        width: 40%;
    }

}
//moviles grandes

@media (min-width: 668px) and (max-width: 767px) {
    .search-title {
        white-space:nowrap;
        margin-bottom: 70px;
    }
    .input-searchbar {
        width:50% !important;
    }
    .row1 {
        width: 343px;
    }
    .name_container {
        width:343px !important;
    }
    .select__search {
        width: 50% !important;
    }
}
// tablets
@media (min-width: 768px) and (max-width: 991px) {
    .search-title {
        white-space:nowrap;
        display: flex;
        justify-content: center;
        font-size: 40px;
        margin-bottom: 50px;
        
    }
    .span__1, .span__2, .span__0, .span__ {
        font-size: 16px;
    }
    .input-searchbar, .row1 {
        width:343px;
    }
    .name_container {
        width:343px ;
    }
    .select__search {
        width: 343px;
    }

}
// ordenadores
@media (min-width: 992px) {
    .search-title {
        white-space:nowrap;
        display: flex;
        justify-content: center;
        font-size: 50px;
        margin-bottom: 70px;
        
    }
    .span__1, .span__2, .span__0, .span__ {
        font-size: 18px;
        white-space:nowrap
    }
    .input-searchbar,
     .input-search,
     .row1,
     .name_container
      {
        width: 500px !important;
        
    }
    .input-search[type=text]::placeholder {
        
        font-size: 20px;
        height: 30px;
    }
    .name_container {
        width: 500px;
    }
    .select__search {
        width: 400px;
    }
      
}
.container-item-selected{
    width: 37%;
    height: 74%;
    background-color: grey;
}
.container-image-search{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.delete-search{
    cursor: pointer;
}