
.search-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1px;
    color: #7A6FC5;
    margin: auto;
    margin-top: 60px;
    // margin-bottom:10px ;
}

.violet_h1_search-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1px;
     color: #7A6FC5;
    margin: auto;
    margin-top: 60px;
}


.span__1, .span__2, .span__0, .span__{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #6E7191;
    margin-bottom: 20px;
    display: block !important;
    margin: auto;
    // text-align: center;
}
.cont_bton_search {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.select__search {
    display: flex !important;
    align-items: center;
    margin: auto;
    border-radius: 16px;
    height: 68px;
    font-size: 20px;
}


.name_container {
    display: flex !important;
    align-items: center;
    margin: auto;
    cursor: pointer;
    background: #EFF0F7;
    border-radius: 16px;
    height: 68px;
}
.input-search:focus{
    background: white;
    border: 2px solid black;
    padding-left:25px;
}
.input-search[type=text]::placeholder {
    height: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;  
    letter-spacing: 0.75px;
    color: #A0A3BD;
    text-align: center;
    background-image: url('https://e7.pngegg.com/pngimages/106/628/png-clipart-magnifying-glass-computer-icons-lens-detective-magnifying-glass-glass-lens.png');
    background-repeat: no-repeat;
    background-position: 30px center;
    background-size: 40px;
    
}
.input-search {
   
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    padding-left: 20px;
}


// moviles muy pequeñoas
@media (max-width: 360px){
    .span__1, .span__2, .span__0, .span__ {
        width: 50%;
    }
    .search-title {
        width: 90%;
        white-space:pre-wrap

    }
    .input-search {
        width:95% !important;
        font-size: 16px;
    }
    .name_container {
        width:95% !important;
    }
    .select__search {
        width: 95% !important;
    }
}
// moviles pequeños
@media (min-width: 361px) and (max-width: 667px) {
    .search-title {
        font-size: 32px;
    }
    .input-searchbar {
        width:70% !important;
    }
    .name_container {
        width:70% !important;
    }
    .select__search {
        width: 70% !important;
    }
    .input-search {
        font-size: 20px;
    }

}
//moviles grandes

@media (min-width: 668px) and (max-width: 767px) {
    .search-title {
        white-space:nowrap
    }
    .input-searchbar {
        width:50% !important;
    }
    .name_container {
        width:50% !important;
    }
    .select__search {
        width: 50% !important;
    }
}
// tablets
@media (min-width: 768px) and (max-width: 991px) {
    .search-title {
        font-size: 40px;
        white-space:nowrap
    }
    .span__1, .span__2, .span__0, .span__ {
        font-size: 16px;
    }
    .input-searchbar {
        width:343px;
    }
    .name_container {
        width:343px ;
    }
    .select__search {
        width: 343px;
    }

}
// ordenadores
@media (min-width: 992px) {
    .search-title {
        white-space:nowrap;
        display: flex;
        justify-content: center;
        font-size: 50px;
        
    }
    .span__1, .span__2, .span__0, .span__ {
        font-size: 20px;
        white-space:nowrap
    }
    .input-searchbar, .input-search {
        width: 500px !important;
        
    }
    .input-search[type=text]::placeholder {
        
        font-size: 20px;
        height: 30px;
    }
    .name_container {
        width: 400px;
    }
    .select__search {
        width: 400px;
    }
      
}